{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title%}Change Password{% endblock %}

{% block styles %}
<style>
    .card{
        margin:auto;
        width:50%;
    }

</style>
{% endblock%}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div id = "changeSuccess" class="container-fluid p-0">
                    <div class="alert-success alert-dismissible" role="alert" >
                    {{ message }}
                    <button type="button" id ="closeAlert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    </div>
                </div>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div id = "changeError" class="container-fluid p-0">
                    <div class="alert-danger alert-dismissible" role="alert" >
                    {{ message }}
                    <button type="button" id ="closeAlert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class = "card">
        <div class = "card-header">
            Change password
        </div>
        <div class = "card-body">
            <form method ="POST" class ="form-group">
                {% csrf_token %}
                {{form|crispy}}
                <button type ="submit" class ="btn btn-success" style= "cursor: pointer;">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}



{% block javascript %}

<script>

    $(".close").click(function(){
        $(".p-0").remove()
    })

</script>

{% endblock %}