{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block title%}Account Invite Management{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    
    {% if user.is_superuser %}
        <div>
            <h1>List of Uninvited user</h1>
            <form method ="POST" class ="form-group">
                {% csrf_token %}
                <table id = "display-data" class = "table table-striped">
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                    </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>
                        <input type="checkbox" id="invite" name="invite" value="{{user.user_id}}">
                        <label for="invite">Invite</label><br>
                    </td>
                </tr>
                {% endfor %}
                </table>
                <button type ="submit" class ="btn btn-success">Invite</button>
            </form>
        </div>

        <div>
            <h1>Invited user</h1>
            <form method = "POST" class = "form-group">
                {% csrf_token %}
                <table id = "display-data" class = "table table-striped">
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                    </tr>
                    {% for invited_user in invited_user_list%}
                        <tr>
                            <td>{{invited_user.user_id.username}}</td>
                            <td>{{invited_user.user_id.first_name}}</td>
                            <td>{{invited_user.user_id.last_name}}</td>
                            <td>
                                <input type="checkbox" id="remove" name="remove" value="{{invited_user.user_id.user_id}}">
                                <label for="remove">Remove</label><br>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <button type ="submit" class ="btn btn-danger">Remove</button>
            </form>
        </div>


        <div class="modal fade" id="modal-user">
            <div class="modal-dialog">
              <div class="modal-content"></div>
            </div>
        </div>
    {% else %}
        <div>
            <p>You have no access</p>
        </div>
    {% endif %}
{% endblock%}