{% for user in users %}
  <tr>
    <td>{{ user.user_id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>{{ user.email }}</td>
    <td class = "accountstatus">{{ user.is_active }}</td>
    <td>{{ user.last_login }}</td>
    <td>{{ user.date_joined }}</td>
    <td>  
      <button class="btn btn-warning show-form-update" data-url="{% url 'update_user' user.user_id %}">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit 
      </button>
      <a href = "/manage_account/delete_user/{{user.user_id}}" class ="btn btn-danger" >
      <span class="glyphicon glyphicon-pencil"></span>
      Delete
      </a>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="9" class="text-center bg-warning">No user</td>
  </tr>
{% endfor %}

<script>

  var statuslist = document.getElementsByClassName("accountstatus");

  for (var i = 0; i < statuslist.length; i++){
    if (statuslist[i].innerHTML == "True"){
      statuslist[i].innerHTML = "Active";
    }
    else{
      statuslist[i].innerHTML = "Inactive";
    }
  }
  

</script>