{% extends "base.html"%}
{% load index %}

{% block title%}Reset Password{% endblock %}

{% block styles %}
<style>
    .card{
        margin:auto;
        width:50%;
    }
</style>

{% endblock %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div id = "updateSuccess" class="container-fluid p-0">
                    <div class="alert-danger alert-dismissible" role="alert" >
                    {{ message }}
                    <button type="button" id ="closeAlert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    </div>
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div id = "updateSuccess" class="container-fluid p-0">
                    <div class="alert-success alert-dismissible" role="alert" >
                    {{ message }}
                    <button type="button" id ="closeAlert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <div class = "card">
            <div class = "card-header">
                Forget Password
            </div>
            <div class = "card-body">
                <p>Enter the email used to create your account, an email will be sent to you with the instruction.</p>
                <form method = "post" class = "form-group">
                    {% csrf_token %}
                    <div>
                        <label for = "email">Email: </label>
                        <input id = "email" type = "text" name = "email" placeholder = "Your e-mail address" size = "50"></input>
                    </div>
                    </br>
                    <button type = "submit" class ="btn btn-success">Send Email</button>
                </form>
            </div>
        </div>
    </div>
{% endblock%}

{% block javascript %}
<script>

    

    $("#closeAlert").click(function(){
        $("#updateSuccess").remove();
    })

</script>

{% endblock %}