{% extends "base.html"%}

{% block title%}Manage Account{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div>
            <h1>List of user's account</h1>

            <div id = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Records updated!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <button class="btn btn-primary show-form" data-url="{% url 'create_user' %}">
            <span class="glyphicon glyphicon-plus"></span>
            Create new user
            </button>
            <button id = "createmultiButton" class="btn btn-primary show-form" data-url="{% url 'create_multiple_account' %}">
                <span class="glyphicon glyphicon-plus"></span>
                    Create multiple user via .csv file
                </button>
                </br></br>

            <div>
                <form action = "{% url 'search_account' %}" style = "display:inline-block;">
                    <label for= "searchbar">Search</label>
                    <input type = "text" name="search" placeholder = "Search username, first name, last name, email here..." size = "50"></input>
                    <button type = "submit">
                        Search
                    </button>
                </form>
                <form action = "{% url 'filter_account' %}"style = "display:inline-block; float:right; margin-right:50px;">
                    <label for= "filterby">
                        Filter by status
                    </label>
                    <select id = "filterOption" name ="filterby" onchange = "this.form.submit()">
                        <option value = "">-----</option>
                        <option value = "active">Active</option>
                        <option value = "inactive">Inactive</option>
                    </select>
                </form>
                <form action = "{% url 'sort_account' %}" style = "display:inline-block; float:right; margin-right:40px;">
                    <label for= "sortby">
                        Sort by
                    </label>
                    <select id = "sortoption" name ="sortby" onchange = "this.form.submit()">
                        <option value = "">-----</option>
                        <option value = "user_id">User ID</option>
                        <option value = "username">Username</option>
                        <option value = "first_name">First Name</option>
                        <option value = "last_name">Last Name</option>
                        <option value = "last_login">Last Login</option>
                        <option value = "date_joined">Date Joined</option>
                    </select>
                </form>
            </div>
            </br>
            <div>
                <table id = "display-data" class = "table table-hover table-striped">
                    <thead class = "thead-dark">
                        <tr class = "table-dark">
                            <th scope ="col">User ID</th>
                            <th scope ="col">Username</th>
                            <th scope ="col">First Name</th>
                            <th scope ="col">Last Name</th>
                            <th scope ="col">Email</th>
                            <th scope ="col">Account Status</th>
                            <th scope ="col">Last Login</th>
                            <th scope ="col">Date Joined</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include "manage_account2.html" %}
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <p>Displaying up to 10 rows per page.<p>
        </div>

        {% if users.has_other_pages %}
            <ul class="pagination">
                {% if users.has_previous %}
                    <li class = "page-item"><a href="?sortby={{sortby}}&page={{ users.previous_page_number }}" class = "page-link">Previous</a></li>
                {% else %}
                    <li class = "page-item disabled"><span class = "page-link">Previous</span></li>
                {% endif %}

                {% for i in users.paginator.page_range %}
                    {% if users.number == i %}
                        <li class = "page-item active"><span class = "page-link">{{i}}</span></li>
                    {% else %}
                        <li class = "page-item"><a href ="?sortby={{sortby}}&page={{i}}" class = "page-link">{{i}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if users.has_next %}
                    <li class = "page-item"><a href = "?sortby={{sortby}}&page={{ users.next_page_number }}" class = "page-link">Next</a></li>
                {% else %}
                    <li class = "page-item disabled"><span class = "page-link">Next</span></li>
                {% endif %}
            </ul>
        {% endif %}

        Has Next:{{users.has_next}}
        

        <div class="modal fade" id="modal-user">
            <div class="modal-dialog">
              <div class="modal-content"></div>
            </div>
        </div>

    {% else %}
        <div>
            <p>You have no access</p>
        </div>
    {% endif %}
{% endblock%}


{% block javascript%}
<script>

    $(document).ready(function(){
        var ShowForm = function(){
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType:'json',
                beforeSend: function(){
                    $('#modal-user').modal('show');
                },
                success: function(data){
                    $('#modal-user .modal-content').html(data.html_form);
                }
            });
        };
    
        var SaveForm =  function(){
            var form = $(this);
            $.ajax({
                url: form.attr('data-url'),
                data: form.serialize(),
                type: form.attr('method'),
                dataType: 'json',
                success: function(data){
                    if(data.form_is_valid){
                        $('#display-data tbody').html(data.user_list);
                        $('#modal-user').modal('hide');
                        $('#alert').show();
                    } else {
                        $('#modal-user .modal-content').html(data.html_form)
                    }
                }
            })
            return false;
        }

        //Create multiple
        $("#createmultiButton").click(function(){
            var btn = $(this);
            $.ajax({
                type:"get",
                url: btn.attr("data-url"),
                dataType: "json",
                success:function(data){
                    $('#modal-user .modal-content').html(data);
                    $("#modal-user").modal("show");
                }
            })
        })
        
        // Create
        $(".show-form").click(ShowForm);
        $("#modal-user").on("submit",".create-form",SaveForm);

        // Update
        $('#display-data').on("click",".show-form-update",ShowForm);
        $('#modal-user').on("submit",".update-form",SaveForm);

        $('#alert').hide();
        
    });

    $(".close").click(function(){
        $('#alert').hide();
    });

    function submitSort(){
        var sortOption = document.getElementById("sortOption");
    }

    function submitFilter(){
        var filterOption = document.getElementById("filterOption");
    }

</script>
{% endblock %}



