{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title%}Account detail{% endblock %}

{% block styles %}
<style>
    .card{
        margin:auto;
        width:50%;
    }

</style>
{% endblock %}

{%block content %}
    {% if user.is_authenticated %}

        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div id = "updateSuccess" class="container-fluid p-0">
                    <div class="alert-success alert-dismissible" role="alert" >
                    {{ message }}
                      <button type="button" id ="closeAlert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                      </button>
                    </div>
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class = "card">
          <div class = "card-header">
            {% if user.is_superuser %}
                Admin's Account Details.
            {% else %}
                {{ user.first_name }}'s Account Details.
            {% endif %}
          </div>
          <div class = "card-body">
            <p>Account ID: {{ user.user_id }}</p>
            <form id = "updateForm" method ="post">
                {% csrf_token %}
                {{form|crispy}}
                </br>
                <button type = "button" id = "demoButton" class ="btn btn-primary">Save Changes</button>
            </form>
          </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Save Changes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Confirm changes?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" id = "cancelButton" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" id = "confirmButton" class="btn btn-primary">Confirm</button>
                </div>
              </div>
            </div>
        </div>

    {% else %}
        <p>Login<a href ="/login">Here</a></p> 
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
    $("#demoButton").click(function(){
        $('#exampleModalCenter').modal('show');
    })

    $(".close").click(function(){
        $('#exampleModalCenter').modal('hide');
    })

    $("#cancelButton").click(function(){
        $('#exampleModalCenter').modal('hide');
    })

    $("#confirmButton").click(function(){
        $("#updateForm").submit();
    })

    $("#closeAlert").click(function(){
        $("#updateSuccess").remove()
    })

</script>
{% endblock %}