{% load crispy_forms_tags %}

<form method ="post" action = "{% url 'create_poll' %}" data-url = "{% url 'create_poll' %}" class="createpoll_form">
    {% csrf_token %}
    <div>
        <div class="modal-header">
            <h5 class="modal-title">Create Poll</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id ="optionWarning" hidden style = "color:red;">Can't have less than 2 options!</p>
            {{poll_form|crispy}}

            <div id = "optionform-container" class = "form-group">
                <div id = "optionDiv">
                    <label for ="optionname">Option 1*</label></br>
                    <input type = "text" id = "option" name = "option" class = "form-control option-input"></br>
                </div>
                <div id = "optionDiv">
                    <label for ="optionname">Option 2*</label></br>
                    <input type = "text" id = "option" name = "option" class = "form-control option-input"></br>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type = "button" class="btn btn-primary add-option-form">Add option</button>
            <button type = "button" class="btn btn-danger remove-option-form">Remove option</button>
            <button type = "submit" class ="btn btn-success">Create</button>
        </div>
    </div>
</form>

{% block javascript %}
    <script>
        
        var counter = 2;
    
        $(".add-option-form").click(function(){
            counter = counter + 1;

            var optionDiv = document.createElement("div");
            optionDiv.id = "optionDiv";

            var textInput = document.createElement("input");
            textInput.setAttribute("type", "text");
            textInput.setAttribute("id", "option");
            textInput.setAttribute("name", "option");
            textInput.setAttribute("class", "form-control option-input");

            var labelInput = document.createElement("label");
            labelInput.setAttribute("for", "optionname");
            labelInput.innerText = "Option " + counter + "*";

            $("#optionform-container").append(optionDiv);

            $("#optionform-container").children().last().append(labelInput);
            $("#optionform-container").children().last().append(textInput);
            $("#optionform-container").children().last().append("</br>");

        })

        $(".remove-option-form").click(function(){
            if (counter < 3){
                console.log("Can't have less than 2 options");
                $("#optionWarning").removeAttr("hidden");
            }
            else{
                counter = counter - 1;
                $("#optionform-container").children().last().remove();
                $("#optionWarning").attr("hidden", "hidden");
            }
        })
            
        
    </script>
{% endblock %}